# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pth

# Virtual environment
venv/
env/
.venv/

# IDE / OS files
*.swp
*.DS_Store
.idea/
.vscode/

# Logs
*.log

# AWS / deployment files you don’t want to push
uwsgi-2.0.23.tar.gz
